.meal-view-dialog-body {
  .action-bar {
    display: flex;
    justify-content: flex-end;
  }
}

.meal-view-dialog-footer {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 5px;

  .slider-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
  }
}
