.tag-create-footer {
  display: flex;
  gap: 10px;
  justify-content: right;
}

.tag-create-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.color-picker {
  display: flex;
  align-items: center;
  gap: 10px;
}
